.offermaker_editor_panel {
    margin-left: 10em;
}
.offermaker_editor_field {
    max-width: 20em;
}
.offermaker_editor_field label {
    width: 9em;
}
.offermaker_editor_field .form-control {
    border: 1px solid #ccc;
    margin-left: 11em;
    margin-bottom: 0.3em;
    display: block;
    width: 100%;
    padding: 5px 4px 0 4px;
    font-size: 11px;
    line-height: 1.028571429;
    color: #555;
    vertical-align: middle;
    min-height: 0;
}
.offermaker_editor_field p.offermaker_editor_field_info {
    font-size: 0.8em;
    width: 100px;
    margin-top: -14px;
    color: gray;
    margin-left: 0;
    padding-left: 0;
}
.offermaker_editor_field .tokenfield .token {
    height: 16px;
    padding-top: 2px;
}
.offermaker_editor_field .tokenfield .token .close {
    line-height: 1em;
}
.offermaker_editor_field .tokenfield .token-input {
    height: 12px;
}
table.offermaker_editor_table {
    margin-top: 5px;
    clear: both;
}
.editor_selector_panel label {
    width: auto;
}
.editor_selector_panel {
    margin-top: 20px;
    padding-bottom: 5px;
}
table.offermaker_editor_table td, table.offermaker_editor_table th{
    border: 1px solid #eee;
}
table.offermaker_editor_table th {
    color: #666;
    font-weight: normal;
}
table.offermaker_editor_table p.offermaker_editor_field_info {
    font-size: 0.7em;
}
td.offermaker_editor_field {
    padding: 0 5px;
    max-width: 16em;
}
td.offermaker_editor_field .form-control {
    margin-left: 1px;
    border: none;
}
div.offermaker_editor_field_container {
    margin: 3px 7px 3px -3px;
}
.variant_offer_default {
    margin-left: 10em;
}